@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@800&display=swap');

@media screen and (max-width: 375px) { /*mobile*/
	 html{
	 	max-width: 375px;
	    margin: auto;
	    min-width: 300px;
	  } 
}

@media screen and (max-width: 767px) { /*tablette*/
	   body{
	    max-width: 979px;
	    min-width: 768px
	   }

	   html{
	   	background-image: url("media/fond_tablette.png");
		background-repeat: no-repeat;
	    background-size: 100%;
	    margin: 0;
		}
}

@media screen and (min-width: 1000) { /*desktop*/
	   body{
	    min-width: 1000px;
	  }

	  html{
	   	background-image: url("media/fond_desktop.png");
		background-repeat: no-repeat;
	    background-size: 100%;
	    margin: 0;
		}


}






html{
	background-image: url("media/fond_mobile.png");
	background-repeat: repeat;
    background-size: 100%;
    margin: 0;
}

body{
	margin: 0;
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
	position: relative;
	/*width:100%;*/
	/*top: 2%;*/
	/*left: 15%;*/
}

header > h1 {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
	/*display: flex;*/
	/*width:100%;*/
}

header > #logo {
	height: 20px;
	/*transform: translateX(-20%) translateY(30%);*/
	/*max-width: 80%;*/
}

/*préparez vous*/

#compteur{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

#compteur > h1 {
	font-weight: normal;
	color: #FFFFFF;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;

	/*text-align: center;*/
	/*position: relative;*/
	/*top: 20%;
	left: 30%;*/
}

#compteur > em {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: normal;
}

#compteur > table{
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
	background-color: #5495e0;
	border: 1px solid #5495e0;
	border-radius: 5px;
	width: 177px;
	height: 76px;
}

/*avant le passage*/
#avant_titre{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	text-align: center;

	color: #FFFFFF;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

#rappel{
	border: 1px solid #FFFFFF;
	border-color: #FFFFFF;
	border-radius: 6px;
	color: #FFFFFF;
	border-width: auto;
}

#rappel > p{
	font-size: 12px;	   
	font-family: 'Poppins', sans-serif;
}

#bell{
	width: 22px;
	height: 22px;
}

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-end;
}

/*gauche du footer*/
#gauche > p{
	color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
}

/*droite du footer*/
#droite > p{
	color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
}

#github{
	width: 22px;
	height: 22px;
}


