@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@800&display=swap');

@media screen and (max-width: 375px) { /*mobile*/
	 html, body{
	 	max-width: 375px;
	    margin: 0;
	  } 
}

/*@media screen and (max-width: 767px) { /*tablette*/
	   /*body{
	    max-width: 979px;
	    min-width: 768px
	   }

	   html{
	   	background-image: url("media/fond_tablette.png");
		background-repeat: no-repeat;
	    background-size: 100%;
	    margin: 0;
		}
}*/

@media screen and (min-width: 1000) { /*desktop*/
	   body{
	    min-width: 1000px;
	  }

	  html{
	   	background-image: url("media/fond_desktop.png");
		background-repeat: no-repeat;
	    background-size: 100%;
	    margin: 0;
		}


}






html{
	background-image: url("media/fond_mobile.png");
	background-repeat: repeat;
    background-size: 100%;
    margin: 0;
    height: 100%;
}

body{
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

/*1ère box*/
header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
}

header > h1 {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
}

header > #logo {
	height: 20px;
}

/*2ème box : préparez vous*/
#compteur{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#compteur > h1 {
	font-weight: normal;
	color: #FFFFFF;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

#compteur > em {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: normal;
}

table{
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
	background-color: #5495e0;
	border: 1px solid #5495e0;
	border-radius: 5px;
	width: 177px;
	height: 76px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

/*3ème box : avant le passage*/
#avant_titre{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}
/*mini box dans la 3ème box*/
#rappel{
	border: 1px solid #FFFFFF;
	border-color: #FFFFFF;
	border-radius: 6px;
	color: #FFFFFF;
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#rappel > p{
	font-size: 12px;	   
	font-family: 'Poppins', sans-serif;
}

#bell{
	width: 22px;
	height: 22px;
}

/*4ème box*/
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

/*gauche du footer*/
#gauche > p{
	color: #FFFFFF;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
}

/*droite du footer*/
#droite > p{
	color: #FFFFFF;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
}

#github{
	width: 22px;
	height: 22px;
}


